@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e8e8e8;
  --foreground: #373737;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

section {
  padding: 0 1rem;
}